*.DS_Store
*.pyc
*test*

lib/Worker/Tasks/*
!lib/Worker/Tasks/Documents
!lib/Worker/Tasks/Text

.bashrc
.monitor/
lib/elasticsearch*/
lib/anaconda*
annex_extras/

conf/*.config.yaml
conf/*.asc
.bashrc
