*.DS_Store
*.pyc
*test*

lib
!lib/Worker
!lib/Core

lib/Worker/Tasks/*
!lib/Worker/Tasks/Documents
!lib/Worker/Tasks/Text

lib/Worker/Models/*
!lib/Worker/Models/__init__.py
!lib/Worker/Models/uv_*.py

.monitor
.bashrc

conf/*
!conf/*.settings.yaml
